	<head><meta charset="utf-8"></head>

	<link rel="stylesheet" href="{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/css/reveal.css"|relURL}}">
	<link rel="stylesheet" href="{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/css/theme/"|relURL}}{{.Params.theme}}.css" id="theme">
	<link rel="stylesheet" href="{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/lib/css/zenburn.css"|relURL}}">

	<div class="reveal">
	<div class="slides">
	<section data-markdown
	         data-separator="^---"
		 data-separator-vertical="^___"
		 data-separator-notes="^Note:">
	{{ .RawContent }}
	</section>
	</div>
	</div>
	<script src="{{ .Site.Data.Solo.DocsVersion }}{{"/revealjs/lib/js/head.min.js"|relURL}}"></script>
	<script src="{{ .Site.Data.Solo.DocsVersion }}{{"/revealjs/js/reveal.js"|relURL}}"></script>
	<script>
		Reveal.initialize({
		      	embedded : true,

		        {{ range $key, $value := .Params.revealoptions }}
		        {{ $key | safeHTML}}:{{$value }},
		        {{ end }}
		        // theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
		        // Optional libraries used to extend on reveal.js
		        dependencies: [
		            { src: '{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/lib/js/classList.js"|relURL}}"', condition: function() { return !document.body.classList; } },
		            { src: '{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/plugin/markdown/marked.js"|relURL}}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		            { src: '{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/plugin/markdown/markdown.js"|relURL}}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		            { src: '{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/plugin/highlight/highlight.js"|relURL}}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
		            { src: '{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/plugin/zoom-js/zoom.js"|relURL}}', async: true, condition: function() { return !!document.body.classList; } },
		            { src: '{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/plugin/notes/notes.js"|relURL}}', async: true, condition: function() { return !!document.body.classList; } },
		            { src: '{{ .Site.Data.Solo.DocsVersion }}{{"revealjs/plugin/math/math.js"|relURL}}', async: true}
		        ]
		      });
	</script>
