body[data-url*="proto.sk/"] {
 /* The predecesor for all API pages */
}

body[data-url*="proto.sk/"] > article section.page h1:first-of-type {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: .75rem;
  font-weight: 500;
}
body[data-url*="proto.sk/"] > article section.page h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 .75rem;
}
body[data-url*="proto.sk/"] > article section.page h3:first-of-type {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 1rem;
  color: #ADB3BC;
}
body[data-url*="proto.sk/"] > article section.page h4 {
  font-size: 2rem;
  margin: 0 0 .75rem;
  font-weight: 500;
}

body[data-url*="proto.sk/"] > article section.page > ul:first-of-type {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body[data-url*="proto.sk/"] > article section.page > ul:first-of-type > li {
  display: inline-block;
  border: 1px solid #E3E4E7;
  border-radius: 16px;
  padding: 0rem .5rem;
  line-height: 22px;
  margin-right: 10px;
}

body[data-url*="proto.sk/"] > article section.page > ul:first-of-type > li a {
  font-size: 12px;
  color: #35393B;
}


body[data-url*="proto.sk/"] > article section.page code {
  vertical-align: baseline;
}

body[data-url*="proto.sk/"] > article section.page pre {
  padding: 1rem;
  background-color: #F2F2F2;
  border-radius: 10px;
}


body[data-url*="proto.sk/"] > article section.page a {
  font-size: 1.125rem;
  font-weight: 500;
  color: #2196C9;
}

body[data-url*="proto.sk/"] > article section.page td a {
  font-size: 1rem;
  font-weight: 400;
}