.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.ui-widget-header .ui-state-active {
    border: 1px solid #c5c5c5;
}

.ui-tabs pre {
    margin: 0;
}

.ui-widget-header {
    background: #FFFFFF;
    border: 0;
}


.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget.ui-widget-content.ui-tabs .ui-tabs-nav {
  padding-left: 1rem;
}

.ui-widget.ui-widget-content.ui-tabs .ui-tabs-nav li {
  border-color: #DFDFE0;
}
.ui-widget.ui-widget-content.ui-tabs .ui-tabs-nav li:before {
  display: none;
}
.ui-widget.ui-widget-content.ui-tabs .ui-tabs-nav li a {
  background: #F2F2F2;
  color: #707070;
}
.ui-widget.ui-widget-content.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: white;
}
.ui-widget.ui-widget-content.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  background: white;
  color: #2196C9;
}

article section.page .highlight {
  position: relative;
}
article section.page .highlight .copy-to-clipboard {
  position: absolute;
  float: none;
  right: 8px;
}

article section.page pre.chroma {
  background: #F2F2F2;
  min-height: 3.25rem;
}

article section.page .ui-widget.ui-widget-content .ui-tabs-panel {
  background: white;
  padding: 1rem;
  border: 1px solid #DFDFE0;
  border-radius: 10px;
}
article section.page .ui-widget.ui-widget-content .ui-tabs-panel pre.chroma {
}