<!--
TODO: fix for mobile
<div class="solo-footer">
	<div class="solo-copyright">
		© 2019 solo.io, Inc. All Rights Reserved. |
		<a class="solo-privacy-policy"
		   href='https://www.solo.io/privacy-policy'
		   target='_blank'>
			privacy policy
		</a>
	</div>
	<div class="solo-icon-container" href='https://www.solo.io' target='_blank'>
		<div class="solo-tagline">Powered by</div>
		<img src="/images/solo-logo-dark-text.svg"
			 width='86'
			 height='40'
			 viewBox='0 0 300 100'
		/>
	</div>
</div>
-->