<div>
    {{ $related := sort (.Site.Pages.Related . | first 8 ) ".Lastmod" "desc" }}
    {{ with $related }}
        <h2>Related articles</h2>
        <ul>
            {{ range . }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a> : {{ .Description }}
                    {{ if .GitInfo }}
                    <span style = "color: grey; font-size: 10px;">
                        <i class='fa fa-calendar' style="color: grey;"></i>
                        {{.GitInfo.AuthorDate.Format "Modified on 02 Jan 2006"}}
                    </span>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    {{ end }}
</div>
