<script src="{{ .Site.Data.Solo.DocsVersion }}{{"js/clipboard.min.js" | relURL}}"></script>

<link href="{{ .Site.Data.Solo.DocsVersion }}{{"css/syntax.css" | relURL}}" rel="stylesheet">

<link href="{{ .Site.Data.Solo.DocsVersion }}{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<script src="{{ .Site.Data.Solo.DocsVersion }}{{"js/featherlight.min.js" | relURL}}"></script>

{{if eq .Site.Params.highlightClientSide true}}
<script src="{{ .Site.Data.Solo.DocsVersion }}{{"js/highlight.pack.js" | relURL}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{end}}

<script src="{{ .Site.Data.Solo.DocsVersion }}{{(printf "theme-%s/script.js" (.Site.Params.themeStyle| default "flex")) | relURL}}"></script>
